extends layout

block messages
  header
    h1 Messages
    button.new
      a(href="/new") Post new message
  main
    each message in messageList
      div.message(style=`top:${message.position.top}; right:${message.position.right}; background-color:${message.color.backgroundColor}; color:${message.color.fontColor}`)
        p.text= message.text 
        p.details #[b #{message.author}] - #{message.date.toLocaleString('en-GB', { dateStyle: 'full', timeStyle: 'short' })}
  